.Slug {
  padding-top: 200px;
  max-width: 1200px;
  margin: 0 auto 40px auto;
  display: flex;
  align-items: center;
}
.serviceWrap {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
}
.service {
  border: 2px solid var(--main-blue);
  height: 50px;
  max-width: 200px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
  padding: 0 10px;
  font-size: 14px;
  letter-spacing: 0.28px;
  line-height: 1.2;
  color: var(--main-blue);
  text-transform: uppercase;
  border-radius: var(--border-radius);
}
.service img {
  filter: var(--arrow-filter);
}
.service:hover {
  background: linear-gradient(114deg, var(--main-blue) 10%, #15319d 84%);
  color: var(--background);
}
.service.active {
  background: linear-gradient(114deg, var(--main-blue) 10%, #15319d 84%);
  color: var(--background);
}
.service:hover img {
  filter: invert();
}
.service.active img {
  filter: invert();
}
@media (max-width: 800px) {
  .Slug {
    padding-top: 110px;
  }
  .serviceWrap {
    gap: 15px;
  }
}
