.Restaurants {
  margin-top: 120px;
}
.row {
  min-height: 760px;
  display: flex;
  align-items: center;
}
.imageWrap {
  position: absolute;
  height: 760px;
  width: 380px;
  overflow: hidden;
}
.right .imageWrap {
  border-radius: 0 1000px 1000px 0;
  left: 0;
}
.left .imageWrap img {
  position: absolute;
  right: 0;
}
.left .imageWrap {
  border-radius: 1000px 0 0 1000px;
  right: 0;
  display: flex;
  justify-content: flex-end;
}
.imageWrap img {
  object-fit: cover;
  width: 50vw;
}

.rowWrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.left .rowWrap {
  justify-content: flex-start;
}
.right .rowWrap {
  justify-content: flex-end;
}
.textBox {
  width: 50%;
  max-width: 600px;
}
.title {
  font-size: 48px;
  color: var(--main-blue);
  font-weight: 500;
}
.description {
  margin: 40px 0;
}
.cta {
  font-size: 22px;
  border: 2px solid var(--main-blue);
  border-radius: var(--border-radius);
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  color: var(--main-blue);
  background: transparent;
}
.cta img {
  width: 29px;
  height: 35px;
  margin-left: 10px;
  filter: var(--arrow-filter);
}
.cta:hover {
  background: var(--main-blue);
  color: var(--background);
}
.cta:hover img {
  filter: invert();
}

.intersection {
  background-image: linear-gradient(143deg, var(--main-blue) 5%, #15319d 92%);
  padding: 160px 0;
  color: var(--background);
  margin: 120px 0;
}
.intersection > div > h2 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
  text-align: center;
  max-width: 950px;
  margin: 0 auto 100px auto;
}
.dualCircle {
  height: 600px;
  width: 600px;
  overflow: hidden;
  border-radius: 1000px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
}
.restaurantText {
  max-width: 1120px;
  margin: 100px auto 0 auto;
  display: flex;
  gap: 160px;
}
.dualText {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.dualText p {
  margin: 40px 0;
}
.dualText h2 {
  font-size: 48px;
  font-weight: 500;
}
.cta.white {
  color: var(--background);
  border-color: var(--background);
}
.cta.white img {
  filter: invert();
}
.cta.white:hover {
  color: var(--main-blue);
  background: var(--background);
}
.cta.white:hover img {
  filter: var(--arrow-filter);
}

.circle {
  width: 1360px;
  height: 680px;
  border-radius: 50% 50% 0 0;
  margin: 240px auto 0 auto;
  overflow: hidden;
}
.circleSection {
  color: var(--background);
  position: relative;
  padding: 80px 0 100px;
  overflow: hidden;
  max-height: 600px;
  clip-path: inset(0);
}
.sandBackground {
  object-fit: cover;
  position: fixed;
  top: 0;
  left: 0;
}
.circleSection .restaurantText {
  margin-top: 0;
  position: relative;
}
.triggerM {
  display: none;
}
.triggerM .textBox {
  width: 100%;
  text-align: center;
  max-width: none;
  padding: 0 20px;
}
.triggerM .wrapper {
  height: 100vh;
  padding-top: 120px;
  opacity: 0;
}
.triggerM .wrapper:first-of-type {
  opacity: 1;
}
.triggerM .description {
  font-size: 14px;
}
.triggerM .title {
  font-size: 32px;
}
.triggerM .cta {
  font-size: 16px;
  display: flex;
  justify-content: center;
}
.imageWrapM {
  overflow: hidden;
  position: sticky;
  bottom: 0;
  width: 100%;
  height: 40vh;
  border-radius: 400px 400px 0 0;
}
.imageWrapM img {
  opacity: 0;
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  top: 0;
  left: 0;
}
.imageWrapM img:first-of-type {
  opacity: 1;
}
.firstWrapper {
  opacity: 1;
}
@media (max-width: 1375px) {
  .circle {
    width: 100%;
    height: 49vw;
  }
  .circle img {
    width: 100%;
    height: auto;
  }
}
@media (max-width: 1240px) {
  .imageWrap,
  .dualCircle {
    height: 500px;
  }
  .imageWrap {
    width: 260px;
  }
}

@media (max-width: 800px) {
  .row {
    display: none;
  }
  .triggerM {
    display: block;
  }
  .intersection {
    margin-top: 0;
  }
}
