.Hero {
  min-height: 1140px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  overflow: hidden;
  position: relative;
  background: var(--background);
  color: var(--foreground);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Hero h1 {
  color: var(--main-blue);
  margin-bottom: 80px;
  max-width: 1050px;
}
.subheading {
  max-width: 880px;
  font-size: 28px;
  margin-bottom: 40px;
}
.content {
  position: relative;
  z-index: 1;
  margin-bottom: 150px;
}

.background1 {
  position: absolute;
  right: 530px;
  top: -400px;
  z-index: 0;
  animation: rotation 1.5s forwards;
  transform: rotate(116deg);
}

.video {
  position: absolute;
  top: 20px;
  right: -120px;
  transform: rotate(-26deg);
  width: 557px;
  border-radius: 0 557px 557px 0;
  height: 1035px;
  overflow: hidden;
}
.video video {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 100%;
}
.video:after {
  width: 100%;
  display: block;
  height: 100%;
  background: linear-gradient(134deg, #01bf5d 23%, #00e56f 65%, #2dff93 95%);
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  animation: fadeIn 1.5s 1.2s forwards;
}

@keyframes rotation {
  from {
    top: -100%;
    transform: rotate(116deg);
  }
  to {
    transform: rotate(0);
    top: -400px;
  }
}
@keyframes rotationT {
  from {
    top: -100%;
    transform: rotate(116deg) scale(0.8) translateX(-100%);
  }
  to {
    transform: rotate(0) scale(0.8) translateX(-100%);
    top: -300px;
  }
}
@keyframes rotationM {
  from {
    top: -100%;
    left: -100%;
    transform: rotate(116deg) scale(0.3) translate(-100%, -100%);
  }
  to {
    transform: rotate(0) scale(0.3) translate(-1600px, 0);
    top: -240px;
    left: 50%;
  }
}
@keyframes fadeIn {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}

@media (max-width: 1240px) {
  .Hero h1 {
    font-size: 60px;
    max-width: 500px;
  }
  .video {
    transform: rotate(-26deg) scale(0.7);
    transform-origin: top left;
    top: calc(50% - 300px);
    left: 50%;
    right: auto;
  }
  .background1 {
    right: auto;
    left: 50%;
    animation: rotationT 1.5s forwards;
  }
  .subheading {
    max-width: 700px;
  }
}
@media (max-width: 800px) {
  .Hero {
    justify-content: flex-end;
    min-height: 100vh;
  }
  .subheading {
    font-size: 14px;
    max-width: 320px;
  }
  .Hero h1 {
    max-width: 350px;
    margin-bottom: 40px;
  }
  .content {
    margin-bottom: 45px;
  }
  .video {
    transform: rotate(-26deg) scale(0.3);
    transform-origin: top left;
    top: 265px;
    left: calc(50% - 20px);
  }
  .background1 {
    animation: rotationM 1.5s forwards;
    left: 50%;
  }
}
