.Accordion {
  --height: 600px;
  margin-top: calc(200px + var(--height) / 4);
}
.container {
  position: relative;
}
.tag {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.64px;
  text-transform: uppercase;

  margin-bottom: 40px;
}
.tab {
  max-height: 130px;
  transition: 1s ease-in-out;
  max-width: 800px;
  overflow: hidden;
  margin-bottom: 40px;
}

.tab .title {
  margin-bottom: 60px;
  font-size: 82px;
  font-weight: 500;
  letter-spacing: -4.1px;
  transition: 1s ease-in-out;
  cursor: pointer;
}

.link {
  margin-top: 60px;
  display: inline-flex;
  align-items: center;
  gap: 20px;
}
.link img {
  filter: var(--arrow-filter);
}
.link:hover {
  background: var(--main-blue);
  color: var(--background);
}
.link:hover img {
  filter: invert();
}
.number {
  font-size: 28px;
  font-weight: 500;
}
.activeTab .title,
.activeTab .number {
  color: var(--main-blue);
}
.activeTab {
  max-height: 700px;
  transition: 1s 1s ease-in-out;
}
.container {
  margin-top: calc(0px - var(--height) * 1);
}
.tabImageWrap {
  width: 33vw;
  height: var(--height);
  background: linear-gradient(150deg, var(--main-blue) 4%, #15319d 94%);
  position: sticky;
  top: 50%;
  margin-bottom: calc(0px - var(--height) / 2);
  transform: translateY(-50%);
  left: 100vw;
  border-radius: 1000px 0 0 1000px;
}

.accordionImage {
  opacity: 0;
  transition: 0.5s;
  max-height: 600px;
  width: auto;
  position: absolute;
  right: -30%;
  top: 50%;
  transform: translateY(-50%);
}
@media (max-width: 1600px) {
  .accordionImage {
    width: 40vw;
    height: auto;
  }
}
@media (max-width: 1240px) {
  .tab {
    max-height: 110px;
    max-width: 60%;
  }
  .activeTab {
    max-height: 700px;
  }
  .tab .title {
    font-size: 60px;
  }
  .description {
    font-size: 18px;
  }
  .link {
    font-size: 20px;
  }
}
@media (max-width: 955px) {
  .Accordion {
    display: none;
  }
}
