.Nodes {
  margin: 200px 0;
  padding: 160px 0;
  background: var(--main-blue);
}

.wrap,
.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.graph {
  align-self: end;
  margin: -100px 0;
}
.wrap h2,
.wrap p,
.wrap h4 {
  color: var(--background);
}
.wrap h2 {
  max-width: 1228px;
  margin-bottom: 80px;
}
.wrap p {
  max-width: 560px;
  margin-bottom: 40px;
}
.wrap h4 {
  max-width: 640px;
}
