.footer {
  background: var(--foreground);
  padding: 85px 0;
  color: var(--background);
}
.row {
  display: flex;
  gap: 120px;
}
.col {
  width: 25%;
}
.socials p {
  font-size: 18px;
  margin-bottom: 40px;
}
.socials a img {
  transition: 0.3s;
}
.socials a {
  margin-right: 30px;
}
.socials a:last-of-type {
  margin-right: 0;
}
.socials a:hover img {
  filter: brightness(0) invert(1);
}
.footerHeading {
  font-size: 28px;
  color: var(--main-blue);
  font-weight: 500;
  margin-bottom: 40px;
}
.info {
  font-size: 18px;
  margin-bottom: 20px;
}
.copy {
  text-align: center;
  color: #cdcdcd;
  font-size: 18px;
  margin-top: 70px;
}
