.footer {
  background: var(--foreground);
  padding: 85px 0;
  color: var(--background);
}
.row {
  display: flex;
  gap: 120px;
}
.col {
  width: 25%;
}
.icons {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 20px;
}
.socials p {
  font-size: 18px;
  margin-bottom: 40px;
}
.socials a img {
  transition: 0.3s;
}

.socials a:last-of-type {
  margin-right: 0;
}
.socials a:hover img {
  opacity: 0.8;
}
.footerHeading {
  font-size: 28px;
  color: var(--main-blue);
  font-weight: 500;
  margin-bottom: 40px;
}
.info {
  font-size: 18px;
  margin-bottom: 20px;
}
.copy {
  text-align: center;
  color: #cdcdcd;
  font-size: 18px;
  margin-top: 70px;
}

@media (max-width: 1600px) {
  .row {
    gap: 60px;
  }
}
@media (max-width: 1240px) {
  .row {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    max-width: 600px;
    margin: 0 auto;
  }
  .col {
    width: 100%;
  }
  .col:nth-of-type(1) {
    order: 1;
  }
  .col:nth-of-type(2) {
    order: 3;
  }
  .col:nth-of-type(3) {
    order: 4;
  }
  .col:nth-of-type(4) {
    order: 2;
  }
  .copy {
    font-size: 14px;
  }
}
@media (max-width: 740px) {
  .icons {
    justify-content: center;
  }
  .row {
    display: flex;
    flex-direction: column;
  }
  .col {
    text-align: center;
  }
  .col:nth-of-type(1) {
    order: 1;
  }
  .col:nth-of-type(2) {
    order: 2;
  }
  .col:nth-of-type(3) {
    order: 3;
  }
  .col:nth-of-type(4) {
    order: 4;
  }
}
