.GetInTouch {
  height: 500px;
  position: relative;
  overflow: hidden;
  display: block;
}
.textWrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.textWrap h2 {
  color: var(--foreground);
  transition: 0.3s;
}
.GetInTouch:hover h2 {
  color: var(--main-blue);
}
.arrowContainer {
  background-image: linear-gradient(232deg, var(--main-blue) 0%, #15319d 100%);
  width: 120%;
  height: 1000px;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding-left: 200px;
  transition: all 1.2s;
}
.active .arrowContainer {
  left: 50%;
  padding-left: 100px;
}
