.GetInTouch {
  height: 500px;
  position: relative;
  overflow: hidden;
  display: block;
  background: var(--background);
}
.dark {
  background: var(--main-blue);
}
.GetInTouch.dark h2 {
  color: var(--background);
}
.GetInTouch.dark:hover h2 {
  color: var(--foreground);
}
.textWrap {
  display: flex;
  align-items: center;
  height: 100%;
}
.textWrap h2 {
  color: var(--foreground);
  transition: 0.3s;
}
.GetInTouch:hover h2 {
  color: var(--main-blue);
}
.arrowContainer {
  background-image: linear-gradient(232deg, var(--main-blue) 0%, #15319d 100%);
  width: 120%;
  height: 1000px;
  border-radius: 1000px;
  position: absolute;
  top: 50%;
  left: -100px;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  padding-left: 200px;
  transition: all 1.2s;
}
.active .arrowContainer {
  left: 50%;
  padding-left: 100px;
}

.arrowContainer h2 {
  display: none;
  width: 250px;
  font-size: 36px;
  color: var(--background);
  position: absolute;
  left: 30px;
  opacity: 0;
  transition: 0.7s;
}
@media (max-width: 1600px) {
  .active .arrowContainer {
    left: 55%;
  }
}

@media (max-width: 1240px) {
  .GetInTouch {
    height: 230px;
  }
  .arrowContainer h2 {
    display: inline-block;
  }
  .textWrap {
    display: none;
  }
  .arrowContainer {
    border-radius: 0 100px 100px 0;
    height: 110px;
    display: flex;
    justify-content: flex-end;
    width: 100px;
    padding: 30px;
    left: 0;
  }
  .arrowContainer img {
    width: 58px;
    height: 47px;
  }
  .active .arrowContainer {
    left: 0;
    width: 95%;
  }
  .active .arrowContainer h2 {
    opacity: 1;
  }
  .GetInTouch:hover h2 {
    color: var(--background);
  }
  .dark {
    background: var(--background);
  }
}
@media (max-width: 400px) {
  .GetInTouch h2 {
    font-size: 9vw;
  }
}
