.Header {
  padding: 45px 20px;
  margin: 0 auto;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 1;
  color: var(--background);
}
.Header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Header nav a {
  margin: 0 25px;
}
.Header .cta {
  display: inline-block;
}

.Header .logoLink {
  display: inline-block;
}
