.Header {
  padding: 45px 0;
  margin: 0 auto;
  width: 100vw;
  position: fixed;
  top: 0;
  z-index: 99999;
  transition: 0.3s;
}
.HeaderFill {
  color: var(--main-blue);
  background: transparent;
}
.HeaderTran {
  color: var(--background);
}
.HeaderFill span {
  background: var(--main-blue);
}
.HeaderFill .cta a {
  border-color: var(--main-blue);
  color: var(--main-blue);
}
.HeaderFill .cta a:hover {
  background: var(--main-blue);
  color: var(--background);
}
.Header > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.Header nav {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.Header nav a {
  margin: 0 25px;
  transition: 0.3s;
}
.Header nav a:hover {
  color: var(--main-green);
}
.Header .cta {
  display: inline-block;
}

.Header .logoLink {
  display: inline-block;
}

.Header .logoLink img {
  width: 100%;
}
.ham {
  display: none;
  width: 30px;
  height: 13px;
  position: relative;
  transition: 0.3s;
  z-index: 999999;
}
.line {
  background: var(--background);
  width: 30px;
  height: 3px;
  display: block;
  position: absolute;
  transition: 0.3s;
}
.line:first-of-type {
  transform-origin: top right;
  top: 0;
  right: 0;
}
.line:last-of-type {
  bottom: 0;
  width: 20px;
  right: 0;
  transform-origin: bottom right;
}
.active {
  width: 22px;
  height: 22px;
}
.active .line:first-of-type {
  transform: rotate(-45deg);
  width: 28px;
}
.active .line:last-of-type {
  width: 28px;
  transform: rotate(45deg);
}
.active .line {
  background: var(--main-blue);
}

.scrollActive {
  color: var(--main-blue);
  background: var(--background);
  padding: 15px 0;
}
.scrollActive span {
  background: var(--main-blue);
}
.scrollActive nav a {
  color: var(--main-blue);
}

.scrollActive .cta a {
  border-color: var(--main-blue);
  color: var(--main-blue);
}
.scrollActive .cta a:hover {
  background: var(--main-blue);
  color: var(--background);
}
@media (max-width: 1240px) {
  .ham {
    display: block;
  }
  .Header nav,
  .Header .cta {
    display: none;
  }
}
@media (max-width: 800px) {
  .Header {
    padding: 30px 0;
  }
  .Header .logoLink img {
    height: 40px;
  }
}
