.FourOFour {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fourWrap {
  display: flex;
  align-items: center;
  height: 157px;
}
.four {
  font-size: 220px;
  line-height: 0.85;
  letter-spacing: -6.6px;
  color: var(--main-blue);
  font-family: "Flexa";
  font-weight: bold;
}
.lottie {
  max-width: 147px;
  margin: 0 15px -35px 15px;
}
.heading {
  font-size: 82px;
  margin-top: 40px;
  text-align: center;
}
.link {
  text-transform: uppercase;
  font-size: 22px;
  font-weight: bold;
  letter-spacing: 0.44px;
  display: flex;
  align-items: center;
  margin-top: 40px;
}
.link img {
  margin-left: 20px;
}
.link:hover {
  color: var(--main-blue);
}
@media (max-width: 800px) {
  .heading {
    font-size: 36px;
    margin: 30px 0 20px 0;
  }
  .link {
    margin: 0;
    font-size: 14px;
  }
  .link img {
    width: 23px;
    height: 19px;
  }
  .four {
    font-size: 164px;
  }
  .lottie {
    max-width: 110px;
    margin-bottom: -25px;
  }
}
