.Approach {
  padding: 190px 0;
  min-height: 100vh;
  background: linear-gradient(129deg, var(--main-blue) 8%, #15319d 88%);
  margin-bottom: -20px;
}
.Approach > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tag {
  color: var(--background);
}
.tagline {
  text-align: center;
  margin-bottom: 70px;
  color: var(--background);
}
.description {
  color: var(--background);
  max-width: 1184px;
  font-size: 28px;
  font-weight: 300;
  margin-bottom: 65px;
}
.explore {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore span {
  margin-bottom: 15px;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: bold;
  color: var(--background);
}
.explore img {
  margin-top: 20px;
  max-width: 54px;
}
.scratch {
  display: inline-block;
  position: absolute;
  top: 5px;
  width: 100%;
}
.scratchWrap {
  position: relative;
  display: inline-block;
}
@media (max-width: 1240px) {
  .Approach {
    min-height: 0;
  }
  .description {
    font-size: 20px;
    max-width: 700px;
  }
  .Approach h2 {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .Approach {
    padding: 120px 0;
  }
  .description {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .Approach h2 {
    max-width: none;
    margin-bottom: 50px;
  }
  .explore span {
    font-size: 14px;
  }
  .explore img {
    width: 40px;
    height: 70px;
  }
}
