.Banner {
  position: relative;
  padding: 135px 0;
  overflow: hidden;
}
.Banner span {
  font-size: 300px;
  line-height: 0.95;
  letter-spacing: -15px;
  color: var(--background);
  font-family: "Flexa";
  font-weight: 500;
}
.parallax {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  top: 0;
}
.parallax img {
  position: absolute;
  top: 0;
  height: 100%;
  object-fit: cover;
}
.textRow {
  margin-top: 120px;
  display: flex;
  align-items: center;
}
.textRow p {
  max-width: 840px;
  color: var(--background);
  margin-right: 80px;
}

.readMore {
  display: inline-flex;
  align-items: center;
}

.readMore h2 {
  color: var(--main-green);
  display: inline-block;
  margin-top: -30px;
  margin-bottom: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.7s ease-in-out;
  margin-right: 0;
  padding-right: 0;
}
.readMore:hover h2 {
  width: 100%;
  margin-right: 20px;
  padding-right: 15px;
}
