.Hero {
  min-height: 1120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.Hero h1 span:after {
  content: ".";
}
.Hero h1 {
  color: var(--main-blue);
}
.Hero h1 span:not(.Hero h1 span:first-of-type) {
  margin-left: -30px;
}
.content {
  position: relative;
  z-index: 1;
}
.inlineText {
  display: flex;
  align-items: center;
  margin-top: 80px;
}
.inlineText p {
  max-width: 680px;
  margin-right: 80px;
}
.background1 {
  position: absolute;
  right: 280px;
  z-index: 0;
  animation: rotation 1.5s forwards;
  transform: rotate(116deg);
}

.video {
  position: absolute;
  bottom: 70px;
  right: -120px;
  transform: rotate(-26deg);
  width: 557px;
  border-radius: 0 557px 557px 0;
  height: 1035px;
  overflow: hidden;
}
.video video {
  object-fit: cover;
  object-position: -700px 0;
  width: 100%;
  height: 100%;
}
.video:after {
  width: 100%;
  display: block;
  height: 100%;
  background: white;
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  animation: fadeIn 1.5s 1.2s forwards;
}

@keyframes rotation {
  from {
    top: -100%;
    transform: rotate(116deg);
  }
  to {
    transform: rotate(0);
    top: -410px;
  }
}
@keyframes fadeIn {
  from {
    width: 100%;
  }
  to {
    width: 0;
  }
}
