.Marquee {
  margin-top: -110px;
}
.textWrap {
  max-width: 1080px;
  margin: 0 auto;
  padding: 0 20px;
}
.textWrap h4 {
  color: var(--main-blue);
  margin-bottom: 80px;
}
.slider {
  margin-top: 80px;
  width: 100vw;
  overflow: hidden;
}
.slider span {
  font-size: 300px;
  line-height: 0.95;
  letter-spacing: -15px;
  color: var(--main-green);
  font-weight: 300;
  font-family: "Flexa";
}
