.RikasM {
  position: relative;
  display: none;
}
.RikasM h3 {
  text-align: center;
  color: var(--main-blue);
  margin-top: 200px;
}
.RikasM .description {
  color: var(--background);
  position: relative;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
  max-width: 350px;
  margin-bottom: 20px;
}
.RikasM .description:last-of-type {
  margin-bottom: 40px;
}
.featured {
  position: relative;
  overflow: hidden;
  padding-bottom: 160px;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 20px;
}
.featured .bg {
  width: 100%;
  position: absolute;
  height: 100%;
}
.featured .bg img {
  object-fit: cover;
}

.featured h4,
.featured h2 {
  color: white;
  text-align: center;
  position: relative;
}
.featured h4 {
  padding: 120px 0 50px 0;
  text-transform: uppercase;
  font-size: 32px;
  letter-spacing: 0.64px;
}
.rikasLogo {
  position: relative;
  margin: 50px 0;
}

.radioSelect {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 40px;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  overflow-x: scroll;
}
.radioSelect label {
  font-size: 16px;
  color: var(--background);
  position: relative;
  cursor: pointer;
  transition: 0.3s;
  border-radius: var(--border-radius);
  border: 1px solid var(--background);
  padding: 10px 25px;
  flex-shrink: 0;
}
.radioSelect input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

label.active {
  background: var(--background);
  color: var(--main-blue);
}
.projectBtn {
  font-size: 22px;
  border: 2px solid var(--background);
  border-radius: var(--border-radius);
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  transition: 0.3s;
  color: var(--main-blue);
  background: var(--background);
  position: relative;
  width: 100%;
  justify-content: center;
}
.projectBtn img {
  width: 29px;
  height: 35px;
  margin-left: 10px;
  filter: var(--arrow-filter);
}
.projectBtn:hover {
  background: transparent;
  color: var(--background);
}
.projectBtn:hover img {
  filter: invert();
}

.embla {
  overflow: hidden;
  width: 440px;
  position: relative;
  margin-bottom: 50px;
}
.embla__container {
  display: flex;
  flex-direction: row;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__prev {
  top: 50%;
  left: 10px;
}
.embla__next {
  top: 50%;
  right: 10px;
}
.embla__prev,
.embla__next {
  position: absolute;
}
.embla button {
  background: none;
  border: none;
}
@media (max-width: 1240px) {
  .RikasM {
    display: block;
  }
}
@media (max-width: 800px) {
  .rikasLogo {
    width: 86px;
    height: 130px;
  }
  .radioSelect {
    margin-bottom: 50px;
  }
  .embla {
    margin-bottom: 30px;
  }
  .projectBtn {
    font-size: 14px;
    padding: 15px 0;
  }
  .projectBtn img {
    width: 23px;
    height: 19px;
  }
}
@media (max-width: 540px) {
  .radioSelect {
    justify-content: flex-start;
    padding-bottom: 10px;
  }
  .embla {
    width: 350px;
    height: 350px;
  }
  .embla img {
    object-position: center;
    height: 100%;
    width: 100%;
  }
}
