.Services {
  margin-top: 120px;
}
.Services .stickyWrap {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.Services section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  transform: translateY(100px);
}
.imageWrap {
  position: absolute;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  transform: translateX(-50%);
  left: 50%;
  overflow: hidden;
}
.imageSlide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.imageSlide img {
  transform: translateX(100px);
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.imageSlide.first img {
  transform: translateX(0);
  opacity: 1;
}
.slide .number {
  font-size: 28px;
  color: var(--main-blue);
  font-weight: 500;
}
.slide h3 {
  max-width: 560px;
  min-height: 152px;
  margin-bottom: 60px;
}
.slide p {
  max-width: 475px;
  min-height: 93px;
  margin-bottom: 90px;
}
.slide a {
  font-size: 28px;
  color: var(--main-blue);
  padding: 15px 35px;
  border-radius: var(--border-radius);
  border: 2px solid var(--main-blue);
}
.Services h2 {
  padding: 45px 0;
  color: var(--main-blue);
  max-width: var(--max-width);
  margin: 0 auto;
}
.headingWrap {
  border-top: 1px solid var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
}
section.first {
  transform: translateY(0);
}
.Services section:not(.first) {
  opacity: 0;
  visibility: hidden;
}

.progressbar {
  width: 0;
  height: 20px;
  background-image: linear-gradient(to right, #3150e9 0%, #1c39b0 100%);
  position: sticky;
  top: calc(100% - 20px);
  z-index: 10;
}
.circle {
  width: 850px;
  height: 850px;
  float: right;
  background: url("/images/test-gradient.jpg") no-repeat right center;
  background-size: cover;
  position: sticky;
  top: calc(100% - 850px);
  left: 100%;
  border-radius: 100% 0 0 0;
}
