.Services {
  margin-top: 0px;
  background: var(--background);
}
.desktopHeading {
  position: sticky;
  width: 100%;
  top: 112px;
  left: 0;
  z-index: -1;
  height: calc(100% - 112px);
}
.mobileHeading {
  display: none;
}
.mobileHeading .borderWrap {
  border-top: 1px solid var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
  padding: 40px 20px;
  color: var(--main-blue);
}
.desktopHeading .borderWrap {
  border-top: 1px solid var(--main-blue);
  border-bottom: 1px solid var(--main-blue);
  margin-top: -850px;
  padding: 0 20px;
}
.Services .stickyWrap {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100%;
}
.Services section {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  transform: translateY(100px);
  padding-bottom: 80px;
}
.Services .container {
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
}
.imageWrap {
  position: absolute;
  right: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 0;
  overflow: hidden;
}
.singleImage {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 100vh;
  width: 100vw;
}
.imageSlide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform-origin: bottom right;
  transform: scale(0.8);
  margin-bottom: -20px;
}
.imageSlide img {
  transform: translateX(100px);
  opacity: 0;
  position: absolute;
  right: 0;
  bottom: 0;
}

.imageSlide.first img {
  transform: translateX(0);
  opacity: 1;
}
.slide .number {
  font-size: 28px;
  color: var(--main-blue);
  font-weight: 500;
}
.slide h3 {
  max-width: 560px;
  margin-bottom: 50px;
  font-size: 54px;
}
.slide p {
  max-width: 500px;
  min-height: 93px;
  margin-bottom: 40px;
}
.slide a {
  font-size: 28px;
  color: var(--main-blue);
  padding: 15px 35px;
  border-radius: var(--border-radius);
  border: 2px solid var(--main-blue);
  display: flex;
  align-items: center;
  gap: 20px;
}
.slide a img {
  filter: var(--arrow-filter);
}
.slide a:hover {
  background: var(--main-blue);
  color: var(--background);
}
.slide a:hover img {
  filter: invert();
}
.Services h2 {
  padding: 25px 0;
  color: var(--main-blue);
  max-width: var(--max-width);
  margin: 0 auto;
}

section.first {
  transform: translateY(0);
}
.Services section:not(.first) {
  opacity: 0;
  visibility: hidden;
}

.progressbar {
  width: 0;
  height: 20px;
  background-image: linear-gradient(to right, #3150e9 0%, #1c39b0 100%);
  position: sticky;
  top: calc(100% - 20px);
  z-index: 10;
}
.circleWrap {
  width: 850px;
  height: 850px;
  position: sticky;
  top: calc(100% - 850px);
  left: 100%;
  transform-origin: bottom right;
  overflow: hidden;
  z-index: 0;
}
.circle {
  background: url("/images/test-gradient.jpg") no-repeat right center;
  background-size: cover;
  border-radius: 50%;
  width: 1700px;
  height: 1700px;
}

.laptop {
  right: -250px;
  top: auto;
}
.phone {
  bottom: -100px;
  right: 400px;
}
.devLaptop {
  right: -300px;
  bottom: -200px;
}
.kafa {
  right: 650px;
}
.marketingPhone {
  right: -250px;
}
.point {
  right: 250px;
  bottom: -420px;
}
.vizit {
  bottom: 35%;
  right: 20%;
}
.can {
  bottom: 35%;
}
.brandbook {
  right: -350px;
  bottom: -30%;
}
.zemlja {
  right: -500px;
  bottom: -600px;
}
.moon {
  bottom: 75%;
  right: 5%;
}
@media (max-width: 1700px) {
  .desktopHeading h2 {
    font-size: 64px;
  }
  .slide h3 {
    font-size: 44px;
  }
  .slide p {
    font-size: 16px;
    max-width: 400px;
  }
}
@media (max-width: 1240px) {
  .Services {
    margin-top: 0;
  }
  .imageSlide {
    transform: scale(1);
  }
  .circle {
    transform: scale(0.7);
  }
  .slide h3 {
    margin-bottom: 30px;
    min-height: 0;
  }
  .slide p {
    margin-bottom: 30px;
  }
  .Services section {
    padding-top: 140px;
    width: calc(100% - 40px);
    justify-content: flex-start;
  }
  .circleWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 450px;
    top: calc(100% - 450px);
    width: 100%;
  }
  .singleImage img {
    width: auto;
    max-height: 400px;
  }
  .singleImage {
    transform: translateX(-50%);
    left: 50%;
    width: 50vw;
  }
  .laptop {
    left: auto;
    right: -16%;
  }
  .laptop img {
    height: 300px;
  }
  .phone {
    bottom: 0;
    left: 25%;
  }
  .phone img {
    height: 300px;
  }
  .devLaptop {
    left: auto;
    right: -12%;
    bottom: -220px;
    transform: rotate(35deg) translateX(-50%);
  }
  .kafa {
    right: 300px;
    left: auto;
  }
  .kafa img {
    height: 120px;
  }
  .marketingPhone {
    transform: translate(-20%) rotate(20deg);
    right: auto;
    left: 50%;
    bottom: -150px;
  }
  .point {
    bottom: -200px;
    right: 120px;
    left: auto;
  }
  .vizit {
    bottom: 100px;
    left: auto;
    right: 150px;
  }
  .vizit img {
    height: 200px;
  }
  .can {
    bottom: 150px;
    right: 70px;
    left: auto;
  }
  .can img {
    height: 250px;
  }
  .brandbook {
    left: auto;
    right: -100px;
    bottom: -100px;
  }
  .zemlja {
    bottom: -140px;
  }
  .moon {
    bottom: 200px;
    left: auto;
    right: 100px;
  }
  .moon img {
    height: 80px;
  }
  .circle {
    flex-shrink: 0;
    width: 1200px;
    height: 1200px;
  }
  .desktopHeading {
    display: none;
  }

  .mobileHeading {
    display: block;
  }
}
@media (max-width: 800px) {
  .Services section {
    padding-top: 100px;
  }
  .Services .slide .number {
    font-size: 18px;
  }
  .circleWrap {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: nowrap;
    height: 450px;
    top: calc(100% - 150px);
    width: 100%;
  }

  .slide h3 {
    font-size: 24px;
  }
  .slide p {
    font-size: 12px;
    margin-bottom: 30px;
    min-height: 0;
  }
  .slide a {
    font-size: 16px;
    width: 100%;
    text-align: center;

    justify-content: center;
  }
  .slide a img {
    width: 23px;
    height: 19px;
  }
}
@media (max-width: 620px) {
  .laptop img {
    height: 200px;
  }
  .laptop {
    right: -30%;
  }
  .desktop img {
    height: 280px;
  }
  .phone {
    bottom: -50px;
  }
  .phone img {
    height: 250px;
  }
  .devLaptop {
    right: -200px;
  }
  .kafa {
    right: 200px;
  }
  .marketingPhone {
    right: -200px;
    left: auto;
  }
  .point {
    right: -20px;
  }
  .brandbook {
    right: -200px;
    left: auto;
  }
  .can {
    right: -40px;
    bottom: 100px;
  }
  .vizit {
    right: 50px;
    left: auto;
  }
  .zemlja {
    right: -120px;
    left: auto;
  }
  .moon {
    right: 140px;
    left: auto;
  }
}

@media (max-height: 738px) {
  .Services section {
    padding-bottom: 40px;
  }
}
