.Services {
  margin-top: 80px;
}
.row {
  display: flex;
  align-items: stretch;
  margin-bottom: 80px;
}
.reverse .col {
  justify-content: flex-start;
}
.reverse .textBox {
  margin-right: 0;
  margin-left: 120px;
}
.col {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}
.boxedRow {
  display: flex;
  align-items: center;
  margin-bottom: 80px;
}
.boxedRow .textBox {
  margin-left: 120px;
  margin-right: 0;
}
.boxedRow:last-of-type .textBox {
  margin-left: 0;
  margin-right: 120px;
}
.textBox {
  margin-right: 120px;
  max-width: 860px;
  padding: 64px 0;
}
.imageWrap {
  position: relative;
  width: 40%;
}
.imageWrap img {
  object-fit: cover;
}
.Services h2 {
  color: var(--main-blue);
  margin-bottom: 80px;
}

.readMore {
  display: inline-flex;
  align-items: center;
  margin-top: 40px;
}

.readMore h2 {
  color: var(--main-green);
  display: inline-block;
  margin-top: -30px;
  margin-bottom: 0;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: all 0.7s ease-in-out;
  margin-right: 0;
  padding-right: 0;
}
.readMore:hover h2 {
  width: 100%;
  margin-right: 20px;
  padding-right: 15px;
}
