.Team {
  background: var(--background);
}
.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}
.slide {
  position: absolute;
  top: 0;
  height: 100%;
  opacity: 0;
  width: 100%;
  transform: translateY(100px);
}
.first {
  opacity: 1;
  transform: translateY(0);
}
.textBox {
  background: var(--background);
  max-width: 627px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textBox h3 {
  margin-bottom: 80px;
}
.textBox p {
  margin-bottom: 30px;
}
.textBox p:last-of-type {
  margin-bottom: 0;
}

.imageWrap {
  position: absolute;
  right: 0;
  width: 880px;
  height: 100vh;
  overflow: hidden;
}
.imageCircle {
  background: var(--main-blue);
  position: absolute;
  left: 0;
  top: 50%;
  width: 125vh;
  height: 150vh;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
}
.imageSlide img {
  position: absolute;
  transform: translate(100px, -50%);
  opacity: 0;
  top: 50%;
}
.imageSlide.firstImage img {
  opacity: 1;
  transform: translate(0, -50%);
}

.progressbar {
  width: 0;
  height: 20px;
  background-image: linear-gradient(to right, #3150e9 0%, #1c39b0 100%);
  position: sticky;
  top: calc(100% - 20px);
  z-index: 10;
}
.teamImage {
  left: -25%;
  height: 100%;
  width: auto;
}
.paket {
  right: -100px;
}
.pen {
  right: 180px;
}
.wireframe {
  left: 0;
}
@media (max-width: 1640px) {
  .imageWrap {
    width: 650px;
  }
  .imageCircle {
    transform: translateY(-50%) scale(0.8);
  }
  img.teamImage {
    width: auto;
    height: 120%;
    left: -35%;
  }
  img.paket {
    right: 50px;
  }
}
@media (max-width: 1240px) {
  img.wireframe {
    left: 25%;
    width: 50%;
  }
  img.paket {
    width: 65%;
    left: 37%;
    right: auto;
    height: auto;
    top: auto;
    bottom: -70px;
  }
  .imageCircle {
    top: 0;
    transform: translateY(0) scale(1) translateX(-50%);
    left: 50%;
    width: 1500px;
    height: 1000px;
  }
  .imageWrap {
    left: 0;
    width: 100%;
    height: 300px;
    right: auto;
    bottom: 0;
  }
  .imageSlide {
    position: absolute;
    top: -30%;
    width: 100%;
    height: 100%;
    transform: scale(0.8);
  }
  .textBox {
    padding-top: 170px;
    justify-content: flex-start;
  }
  .textBox h3 {
    margin-bottom: 30px;
  }
  .textBox p {
    font-size: 16px;
  }
  img.teamImage {
    left: 15%;
    width: 100%;
    max-width: 1000px;
    height: auto;
  }
}
@media (max-width: 800px) {
  .imageWrap {
    height: 250px;
  }
  img.paket {
    width: 60%;
    right: 0px;
    left: auto;
  }
  img.teamImage {
    left: 15%;
    height: auto;
  }
  .imageSlide {
    top: -35%;
    transform: scale(0.5);
  }
  .textBox h3 {
    margin-bottom: 30px;
    font-size: 24px;
  }

  .textBox {
    padding-top: 120px;
  }
  .textBox p {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  img.paket {
    right: auto;
    left: 35%;
  }
}
