.Who {
  padding: 190px 0;
  min-height: 100vh;
  background: var(--background);
}
.Who > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.tag {
  color: var(--main-blue);
}
.tagline {
  text-align: center;
  margin-bottom: 70px;
}
.description {
  color: var(--main-blue);
  max-width: 1184px;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 65px;
}
.explore {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.explore span {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: bold;
}
@media (max-width: 1240px) {
  .Who {
    min-height: 0;
  }
  .description {
    font-size: 20px;
    max-width: 700px;
  }
  .Who h2 {
    max-width: 800px;
  }
}
@media (max-width: 800px) {
  .Who {
    padding: 120px 0;
  }
  .description {
    font-size: 14px;
    margin-bottom: 50px;
  }
  .Who h2 {
    max-width: none;
    margin-bottom: 50px;
  }
  .explore span {
    font-size: 14px;
  }
  .explore img {
    width: 70px;
    height: 70px;
  }
}
