@font-face {
  src: url("/fonts/GT-Flexa-Var.ttf");
  font-family: "Flexa";
}

/* //Breakpoints:
//1640px: Laptop
//1240px: Tablet
//800px: Mobile */

:root {
  --max-width: 1400px;
  --border-radius: 8px;

  --foreground: #202020;
  --background: #fff;

  --main-blue: #304fe8;
  --main-green: #00e56f;

  --arrow-filter: invert(21%) sepia(90%) saturate(2913%) hue-rotate(230deg)
    brightness(94%) contrast(93%);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.lenis.lenis-smooth {
  scroll-behavior: auto;
}
html.lenis {
  height: auto;
}
html {
  scroll-behavior: initial;
}
html,
body {
  min-height: 100%;
  height: auto;
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1 {
  font-size: 128px;
  line-height: 1;
  letter-spacing: -2.56px;
  font-weight: bold;
  display: block;
}
h2 {
  font-size: 92px;
  line-height: 1;
  letter-spacing: -1.84px;
  font-weight: bold;
}
h3 {
  font-size: 82px;
  line-height: 0.95;
  letter-spacing: -4.1px;
  font-weight: 500;
}
h4 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
}
p {
  font-size: 22px;
  line-height: 1.4;
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  transition: 0.3s;
}
a:hover {
  color: var(--main-blue);
}

h1,
h2,
h3 {
  font-family: "Flexa";
}

.button {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--background);
  padding: 25px 100px;
  display: inline-block;
  border-radius: var(--border-radius);
  transition: 0.3s;
  cursor: pointer;
}
.button-outline-blue {
  color: var(--main-blue);
  padding: 22px 30px;
  display: inline-block;
  border: 2px solid var(--main-blue);
  transition: 0.3s;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
}
.button-outline-blue:hover {
  color: var(--background);
}

.button-outline-white {
  color: var(--background);
  padding: 15px 30px;
  display: inline-flex;
  align-items: center;
  border: 2px solid var(--background);
  transition: 0.3s;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
}
.button-outline-white img {
  margin-left: 10px;
  filter: invert();
}
.button-outline-white:hover {
  color: var(--main-blue);
  background: var(--background);
}
.button-outline-white:hover img {
  filter: var(--arrow-filter);
}
.tag-large {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.64px;
  margin-bottom: 50px;
  display: inline-block;
  text-align: center;
}
.container {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding: 0 20px;
}
.active {
  color: var(--main-green);
}
.Projects p {
  font-size: 48px;
  font-family: "Flexa";
  line-height: 1.2;
  font-weight: 500;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--background);
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: var(--background);
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: var(--background);
}
img.imageActive {
  opacity: 1;
  right: calc(-30% + 50px);
}
@media (max-width: 1640px) {
  :root {
    --max-width: 1200px;
  }
  .container {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 1240px) {
  h1 {
    font-size: 90px;
    letter-spacing: -1.6px;
  }
  h2 {
    font-size: 64px;
    letter-spacing: -1.2px;
  }
  h3 {
    font-size: 60px;
    letter-spacing: -2px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 48px;
    letter-spacing: -0.96px;
  }
  h2 {
    font-size: 40px;
    letter-spacing: -0.8px;
  }
  h3 {
    font-size: 36px;
    letter-spacing: -1.8px;
  }
  .button {
    font-size: 16px;
    width: 100%;
    justify-content: center;
  }
  .button img {
    width: 19px;
    height: 23px;
  }
  .tag-large {
    font-size: 20px;
    margin-bottom: 10px;
  }
  .Projects p {
    font-size: 32px;
    padding: 0 20px;
  }
}
