@font-face {
  src: url("/fonts/GT-Flexa-Var.ttf");
  font-family: "Flexa";
}

:root {
  --max-width: 1640px;
  --border-radius: 8px;

  --foreground: #202020;
  --background: #fff;

  --main-blue: #304fe8;
  --main-green: #00e56f;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
}

body {
  color: var(--foreground);
  background: var(--background);
}
h1 {
  font-size: 140px;
  line-height: 1.1;
  letter-spacing: -5.6px;
  font-weight: 500;
  display: block;
}
h2 {
  font-size: 100px;
  line-height: 0.95;
  letter-spacing: -5px;
  font-weight: 500;
}
h3 {
  font-size: 60px;
  line-height: 1.1;
  letter-spacing: -1.2px;
  font-weight: 500;
}
h4 {
  font-size: 48px;
  line-height: 1.2;
  font-weight: 500;
}
p {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
}
a {
  color: inherit;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.4;
  transition: 0.3s;
}
a:hover {
  color: var(--main-green);
}

h1,
h2,
h4 {
  font-family: "Flexa";
}

.button {
  font-size: 28px;
  line-height: 1.4;
  font-weight: 500;
  color: var(--background);
  background-color: var(--main-blue);
  padding: 25px 100px;
  display: inline-block;
  border-radius: var(--border-radius);
  transition: 0.3s;
}
.button-outline {
  color: var(--main-blue);
  padding: 22px 30px;
  display: inline-block;
  border: 2px solid var(--main-blue);
  transition: 0.3s;
  border-radius: var(--border-radius);
  position: relative;
  z-index: 1;
}
.button-outline:after {
  content: "";
  display: block;
  width: 0;
  height: 0;
  background-color: var(--main-blue);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: 0.3s;
  z-index: -1;
}
.button-outline:hover {
  color: var(--background);
}
.button-outline:hover:after {
  height: 100%;
  width: 100%;
}

.container {
  max-width: var(--max-width);
  margin: 0 auto;
  width: 100%;
  padding: 0 20px;
}
@media (max-width: 1640px) {
  .container {
    max-width: 1400px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
  }
}
